<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Room</title>
</head>
<body>
    {% extends 'components/base.html' %}
    {% block content %}
        <h1>Add New Room</h1>
        <form method="POST">
            <label for="room-name">Room Name:</label>
            <input type="text" id="room-name" name="room_name" required>

            <label for="surface-area">Surface Area:</label>
            <input type="number" id="surface-area" name="surface_area" required>

            <label for="flooring-type">Flooring Type:</label>
            <input type="text" id="flooring-type" name="flooring_type" required>

            <label for="flooring-cost">Cost per Sq Feett:</label>
            <input type="number" step="0.01" id="flooring-cost" name="flooring_cost" required>

            <button type="submit">Add Room</button>
        </form>
    {% endblock %}
</body>
</html>
