<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% block content %}
    <h1>Welcome to the Home Page!</h1>
    <h2>Rooms Under Remodeling</h2>
    <table>
        <thead>
            <tr>
                <th>the room name??</th>
                <th>surface area??</th>
                <th>total cost for the whole project??</th>
            </tr>
            <tr>
                <th>the room name??</th>
                <th>surface area??</th>
                <th>total cost for the whole project??</th>
            </tr>
        </thead>
        <tr>
            <td><a href="{{ url_for('room_details.html', room.html) }}">{{ room.name }}</a></td>
            <td>{{ room.surface_area }}</td>
            <td>${{ room.total_remodel_cost }}</td>
            </tr>
    </table>
    <a href="{{ url_for('room.html') }}">add a new room</a>
    {% endblock %}
</body>
</html>
