{% extends 'components/base.html' %}

{% block content %}

<div class="flex align-center justify-center">
    <div class="w-11/12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
        {% for room in rooms %}
        <div class="rounded-xl p-4 bg-amber-50 border-2 border-amber-600 shadow-xl">
            <div class="flex">
                <h1 class="text-xl">{{ room.name }}</h1>
                <h3 class="ml-auto">ID No. {{ room.id }}</h3>
            </div>
            <hr class="h-0.5 mx-auto my-2 bg-amber-600 border-0 rounded">
            <div class="space-y-2">
                <div class="flex justify-between">
                    <h3>Surface Area:</h3>
                    <h3>{{ room.surface_area }} Sq. Ft.</h3>
                </div>
                <div class="flex justify-between">
                    <h3>Flooring Type:</h3>
                    <h3>{{ room.flooring_type }}</h3>
                </div>
                <div class="flex justify-between">
                    <h3>Flooring Cost:</h3>
                    <h3>${{ room.flooring_cost_per_sqft }} Sq. Ft.</h3>
                </div>
            </div>
            <hr class="h-0.5 mx-auto my-2 bg-amber-600 border-0 rounded">
            <div class="space-y-2">
                <div class="flex justify-between">
                    <h3>Total Cost:</h3>
                    <h3>
                        ${{ (room.surface_area * room.flooring_cost_per_sqft)
                            + (room.tiling_area * room.tile_cost_per_sqft if room.is_tiling_needed else 0) | round(2) }}
                    </h3>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
