<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room details - {{ room.name }}</title>
</head>
<body>
    {% block content %}
    <h1>room details: {{ room.name }}</h1>
    <h2>flooring information</h2>

    <p>floor type: {{ room.flooring_type }}</p>
    <p>cost per feet: ${{ room.flooring_cost_per_ft }}</p>
    <p>total flooring cost: ${{ room.total_flooring_cost }}</p>

    <h2>total cost</h2>
    <p>total cost: ${{ room.total_remodel_cost }}</p>

    <a href="{{ url_for('edit_room.html', room.html) }}">Edit Room</a>
    <a href="{{ url_for('home.html') }}">Back to Home</a>
    {% endblock %}
</body>
</html>
