<nav class="w-full flex bg-amber-50 p-4 shadow-lg z-30 border-b-2 border-amber-600">
    <div>
        <a href="/" class="text-amber-600 hover:underline">Home</a>
    </div>
    <div class="space-x-4 ml-auto">
        <a href="/add_room" class="text-amber-600 hover:underline">Room Page</a>
        <a href="/rooms/edit" class="text-amber-600 hover:underline">Edit Room Page</a>
        <a href="/rooms/details" class="text-amber-600 hover:underline">Room Details Page</a>
        <a href="/supplies/add" class="text-amber-600 hover:underline">Add Supply Page</a>
        <a href="/supplies/details" class="text-amber-600 hover:underline">Supply Details Page</a>
    </div>
</nav>