<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nav Bar</title>
</head>
<body>

<nav class="w-full flex bg-gray-100 p-4 shadow-lg z-30 border-b-2 border-amber-400">
    <div>
        <a href="/" class="text-blue-600 hover:underline">Home</a>
    </div>
    <div class="space-x-4 ml-auto">
        <a href="/rooms" class="text-blue-600 hover:underline">Room Page</a>
        <a href="/rooms/edit" class="text-blue-600 hover:underline">Edit Room Page</a>
        <a href="/rooms/details" class="text-blue-600 hover:underline">Room Details Page</a>
        <a href="/supplies/add" class="text-blue-600 hover:underline">Add Supply Page</a>
        <a href="/supplies/details" class="text-blue-600 hover:underline">Supply Details Page</a>
    </div>
</nav>

</body>
</html>